<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='create_account.css') }}">
    <title>TICKETS SITE</title>
</head>
<body>
    <section class="new_account_section">
        <form action="/create_account" method="post">
            <div class="div_nome">
            <h2>Nome</h2>
            <input name="name" type="text" placeholder="Nome" required>
            </div>
            <div class="div_email">
            <h2>Email</h2>
            <input name="email" type="email" placeholder="Email" required>
            </div>
            <div class="div_tel">
            <h2>Telefone</h2>
            <input name="phone_number" type="tel" placeholder="Telefone">
            </div>
            <div class="div_pass">
            <h2>Senha</h2>
            <input name="password" type="password" placeholder="Senha" required>
            </div>
            <br>
            <button id="button-enviar" style="cursor: pointer;">Enviar</button>
        </form>
        <form action="/" method="get">
        <button id="button-voltar" style="cursor: pointer;">Voltar</button>
        </form>
    </section>
</body>
</html>