<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Sistema de Tíquetes</title>
</head>

<body>
    <section class="secao_login">
        <h1><strong>LOGIN</strong></h1>
        <form action="/" method="post">
            <input name="email" placeholder="email" type="email" required>
            <input name="password" placeholder="senha" type="password" required>
            <div class="div_login">
                <button type="submit"><strong>Entrar</strong></button>
                <h3>Esqueceu a senha?</h3>
            </div>
        </form>
    </section>
    <section class="secao_logo">
        <img src="{{ url_for('static', path='img/background.png') }}" alt="logo">
    </section>
</body>
</html>