body {
    background-color: #333a41;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.tickets{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    text-align: center;
}

nav {
    background-color: #ab52c5;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.element{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-items: center;
}
.last_ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last_ticket h1 {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: 80px;
}

.ticket_title {
    background-color: #f0f0f0;
    width: 550px;
    height: 75px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}

.ticket_msg {
    width: 550px;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 30px;
    text-align: justify;
    padding: 15px;
    padding-top: 80px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.part_2{
    background-color: white;
    height: 10px;
    width: 100vw;
}
button{
    font-family: 'League Spartan',sans-serif;
    border-radius: 30px;
    font-size: 20px;
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 2px;
    transition: 0.5s;
}
button:hover{
    background-color: #ab52c5;
}